* {
  margin: 0;
  padding: 0;
}

:root {
  --fontRubik: "Rubik", sans-serif;
  --colorTextoMenu: #4a4a4a;
  --colorFondoPagina: #3cdbc0;
  --colorDiversidad: #ffffff;
}

/* Header */

.cabecera {
  background-color: var(--colorDiversidad);
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 155px;
  margin-top: 10px;
}

.menu {
  font-family: var(--fontRubik);
}

/* Main */
