* {
  margin: 0;
  padding: 0;
}

:root {
  --fontRubik: "Rubik", sans-serif;
  --colorTextoMenu: #4a4a4a;
  --colorFondoPagina: #3cdbc0;
  --colorDiversidad: #ffffff;
}

/* Header */

.cabecera {
  background-color: var(--colorDiversidad);
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}

.logo {
  width: 155px;
  margin: 10px 0;
}

.menu {
  font-family: var(--fontRubik);
  font-size: 16px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 13px;
}

.link {
  color: var(--colorTextoMenu);
  text-decoration: none;
  margin: 0 10px;
}

/* Main */

.main {
  background-color: var(--colorFondoPagina);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texto {
  color: var(--colorDiversidad);
  font-family: var(--fontRubik);
  font-size: 30px;
  text-align: center;
}
