* {
  margin: 0;
  padding: 0;
}

:root {
  --fontFamily: "Rubik", sans-serif;
  --colorTextoMenu: #4a4a4a;
  --colorFondoPagina: #3cdbc0;
  --colorDiversidad: #ffffff;
}

/* Header */

.cabecera {
}
